/* Reset default margins and paddings */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Center the form */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
}

#Register-User h1 {
  font-size: 24px; /* Font size */
  margin-bottom: 20px; /* space below heading */
  color: #333; /* heading font color */
}

/* Center the form in container */
#Register-User {
  text-align: center;
  padding: 30px;
}

/* changed font family for body */
body {
  font-family: Arial, sans-serif;
}

/* Added bootstrap classes */

/* Bootstrap container */
.container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
}

/* Bootstrap form */
.form-group {
  margin-bottom: 15px;
}
.form-control {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

/* Bootstrap button */
#button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* styling for small text (password requirements) */
.small {
  font-size: 12px;
  color: #777;
}

/* label placement */
label {
  text-align: left;
}

/* input placement */
input[type="text"],
input[type="password"],
select {
  width: 100%;
}

/* margin for small text */
#text {
  margin-top: 5px;
}
