.class {
  margin-left: 400px;
  margin-top: 200px;
}

body {
  font-family: Arial, sans-serif;
}

.role-group {
  display: flex;
}

#changeRole {
  margin-left: 20px;
}

.button-group {
  margin-left: 20px;
}

#changePassword {
  margin-left: 20px;
}

#logOut {
  margin-left: 20px;
}

#deleteAccount {
  margin-left: 20px;
}

button {
  background-color: blue;
  color: #fff;
  padding: 10px 20px;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 35px;
}
